
.grid.md\:grid-cols-2 {
    grid-template-columns: 1fr;
}
@media(min-width: 768px) {
    .grid.md\:grid-cols-2 {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

.user-row .avatar {
    width: 2.5rem;
    height: 2.5rem;
}

@media(min-width: 768px) {
    .user-row .avatar {
        width: 3rem;
        height: 3rem;
    }
}

.user-row .font-semibold {
    font-size: 0.875rem;
}
.user-row .text-sm {
    font-size: 0.75rem;
}
@media(min-width: 768px) {
    .user-row .font-semibold {
        font-size: 1rem;
    }
    .user-row .text-sm {
        font-size: 0.875rem;
    }
}
